@model IEnumerable<Entidades.ProveedorEntity>

<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Listar";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>

<h1>Proveedores</h1>

<p>
    @Html.ActionLink("Registrar Proveedor", "Registrar")
</p>
<table class="table table-hover table-dark">
    <thead>
    <tr style="color:white">
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("RUC")
        </th>
        <th>
            @Html.DisplayName("Razón Social")
        </th>
        <th>
            @Html.DisplayName("Representante Legal")
        </th>
        <th>
            @Html.DisplayName("Dirección")
        </th>
        <th>
            @Html.DisplayName("Teléfono")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>
        <th>
            @Html.DisplayName("Fecha de Registro")
        </th>
        <th>
            @Html.DisplayName("Fecha de Actualización")
        </th>
        <th>
            @Html.DisplayName("Cta Bancaria")
        </th>
        <th>
            @Html.DisplayName("País")
        </th>
        <th></th>
    </tr>
</thead>
@foreach (var item in Model) {
    <tr style="color:white">
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ruc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.repLegal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctaBancaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Actualizar", new { id=item.codigo })
        </td>
    </tr>
}

</table>
