@model IEnumerable<Entidades.DetMobCambio>

<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Compra";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>

<h1>Cambio</h1>

<p>
    @Html.ActionLink("Grabar Cambio ", "Grabar")
</p>
<table class="table">
    <tr style="color:white">
        <th>
            @Html.DisplayNameFor(model => model.nombreMob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoMob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estacionMob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoMob)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:white">
        <td>
            @Html.DisplayFor(modelItem => item.nombreMob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoMob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estacionMob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoMob)
        </td>
        <td>            
            @Html.ActionLink("Delete", "Delete", new { id = item.codigoMob})
        </td>
    </tr>
}

</table>
