@model IEnumerable<Entidades.MobiliarioEntity>

<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

<style>
    .divresumen {
        text-align: right;
        font-style: italic;
    }
</style>

@{
    ViewBag.Title = "Listar Mobiliarios";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>

<h1>Mobiliarios</h1>

<p> @Html.ActionLink("Realizar Cambio", "Cambio") </p>
<div class="divresumen">
    <p>Ud ha seleccionado:@ViewBag.contador mobiliarios</p>
</div>
<table class="table">
    <tr style="color:white">
        <th> Código del Mobiliario</th>        
        <th> Nombre </th>
        <th> Código del Tipo </th>
        <th> Código del Estado</th>
        <th> Código de la Estación</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:white">
        <td> @Html.DisplayFor(modelItem => item.codigo) </td>
        <td> @Html.DisplayFor(modelItem => item.descripcion) </td>
        <td> @Html.DisplayFor(modelItem => item.tipo) </td>
        <td> @Html.DisplayFor(modelItem => item.estado) </td>
        <td> @Html.DisplayFor(modelItem => item.estacion) </td>
        <td> @Html.ActionLink("Seleccionar", "Select", new { codigo = item.codigo }) </td>
    </tr>
}

</table>
