@model IEnumerable<Entidades.UsuarioEntity>

<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "ListarCaja";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>

<h1>Usuarios</h1>

<table class="table">
    <tr style="color:white">
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("DNI ")
        </th>
        <th>
            @Html.DisplayName("Nombre ")
        </th>
        <th>
            @Html.DisplayName("Apellidos ")
        </th>
        <th>
            @Html.DisplayName("Tipo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:white">
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "ActualizarTipo", new { id=item.codigo})
        </td>
    </tr>
}

</table>
