@model IEnumerable<Entidades.UsuarioEntity>

<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "ReporteU";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>

<h1>Reporte de Usuarios</h1>

@using (Html.BeginForm())
{
    <strong style="color:white">Seleccione el Estado</strong>
    @Html.DropDownList("est", (SelectList)ViewBag.estado);
    <strong style="color:white">Seleccione el Tipo</strong>
    @Html.DropDownList("tip", (SelectList)ViewBag.tipo);
    <input type="submit" value="Consultar" />
}

<br />
<br />

<table class="table">
    <tr style="color:white">
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nacionalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:white">
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nacionalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        
    </tr>
}

</table>
